.hide-border {
  border: 0 !important;
}

.paypal-button {
  margin: 32px;
  max-height: 25px;
}

#cart-not-empty {
  width: 80%;
  margin: 0 auto 32px;
}

#cart-empty {
  margin: 0 auto 32px;
  padding: 32px;
}

@media screen and (min-width: 410px) {
  #cart-empty {
    width: 25%;
    min-width: 369px;
  }
}

@media screen and (max-width: 409px) {
  #cart-empty {
    max-width: 369px;
    margin: 0 16px 32px;
    width: 92%;
  }
}
