$overlay: 0.25;
$image_path: '../images/ieeesantapic-1.jpg';

#santa-pic {
  background: linear-gradient(rgba(0, 0, 0, $overlay), rgba(0, 0, 0, $overlay)), url($image_path) center;
  background-size: cover;
  height: 600px;
  position: relative;
}

@media only screen and (min-width: 1047px) {
  #text-container {
    width: 60%;
  }

  #services-row {
    margin: 32px;
  }
}

@media only screen and (max-width: 1047px) {
  #text-container {
    width: 80%;
  }
}

#about-us-image-text {
  color: white;
}

.white-btn:not(:hover) {
  border: 3px solid white;
}

.white-btn:hover {
  border: 3px solid transparent;
}

#services-row {
  margin: 32px 0;
  text-align: center;
}

#event-grid {
  display: flex;
  justify-content: center;
  margin: 0 !important;
}

.icon {
  height: 36px !important;
  width: 36px !important;
  margin: 28px;
}
