.column {
  width: 22.95454545%;
  float: left;
  margin: 0 2.72727272% 0 0;
}

section > h2 {
  padding-bottom: 16px;
  color: #b1b6b6 !important;
}

section > span {
  color: #777 !important;
}

ul, li {
  list-style: none;
}

.footer-url-txt {
  color: #777;
}

.footer-url-txt:hover {
  color: #2979ff;
}
